body {
  margin: 0;
  background-color: #eee;
  font-family: Besley, serif;
  

  
}

.header {
  background-color:#1F2937;
  height: 150px;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 20px;
  
    
}

.container{
  background-color: #1F2937;
  padding-top: 40px ;
  padding-bottom:20px;
  padding-right: 50px;
  padding-left:12px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  
}

.container2 img {
  width: 100px;
  height: 100px;
  border: 3px solid #3882F6;
  border-radius: 10%;
  padding: 4px;
  
}



.info{
  max-width: 200px;
  text-align: center;
  
}

.title {
  font-size: 36px;
  font-weight: 900;
  margin-left: 550px;
  margin-top:20px;
  
  
}



.container2{
  display:flex;
  justify-content: center;
  gap: 52px;
  margin-left: 204px;
  padding-top: 50px;
  padding-bottom: 80px;
}

.container3{
  background-color: #E5E7EB;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 100px;

}

.container3 .quote-text{
  font-style: italic;
  font-size: 36px;
  color:#1F2937;
  padding-top: 100px;
  
}



.quote-text p{
  font-size: 20px;
  color:#1F2937;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.card .title {
  font-size: 30px;
  margin-left: 0px;
  padding-top: 3px;
  padding-bottom:4px;
  padding-left: 4px;
  
}



.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 800px;
  background: #3882F6;
  margin: 16px auto;
  padding-top:10px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 8px;
  gap: 16px;
  border: 3px solid #3882F6 ;
  border-radius: 1%;
  color:#F9F8FA;
}


.hero-text{
  background-color:#1F2937;
  color: #F9F8FA;
  font-size: 48px;
  font-weight: extra-bold;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  padding-right: 25px;
  padding-left:30px;
  padding-top: 10px;
  padding-bottom: 10px;
}


.button {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    font-size:30px;
    border: none;
    border-radius: 8px;
    background: #3882F6;
    padding: 8px 16px;
   

}

.button-container button{
  color:#E5E7EB;
  background: #3882F6;
  border-radius: 4px;
  border-color: #E5E7EB;
  border-style: solid;
  font-size:20px;
}
.footer {
  height: 72px;
  background: #1F2937;
  color:white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
  margin-top: 100px;

}


.body{
  display: flex;
  flex-wrap: wrap;
  padding-top: 32px;
    
}

a {
  /* this removes the line under our links */
  text-decoration: none;
  color: #E5E7EB;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 16px;
}


.left, .right {
  display: flex;
  align-items:center;
  gap: 800px;
  padding-left: 20px;
  padding-top: 15px;
}